<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/calvo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Roger Calvo Mercenario Guedes</h5>
          <p class="card-text">#VoltaCalvo</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar calvo mercenario</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ReiNato Augusto o cara que carrega o corinthias nas costas</h5>
          <p class="card-text">#Rei</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar ReiNato</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/yuri.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Yuri Bagre Alberto erra gol facil</h5>
          <p class="card-text">Bagre Alberto</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar yuri</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/gil.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gil Goiba</h5>
          <p class="card-text">#VoceFoiGoiabado</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar gil goiba</a>
        </div>
      </div>
</div>
